# MANIFEST.in
exclude .gitignore
include README.txt
include setup.cfg
exclude gwaripper/config*.ini
prune .git
prune build
prune dist
prune .idea
prune gwaripper/pyperclip
prune gwaripper/dev_tools
prune .cache
recursive-exclude *.egg-info *
recursive-include gwaripper *.py
# exclude log files and pyc or pyo files
global-exclude *.log
global-exclude *.py[co]
exclude gwaripper-runner.py
# recursive-include tests *