{% extends "layout.html" %}
{% block body %}
<div class="row">
<div class="col-md-10" style="margin:auto;">
<div id="searchResult">
{% if entries %}
    {% for entry in entries %}
    <div class="entry-container{# ' odd' if loop.index0 % 2 != 0 else '' #}">
        <div class="entry-container-top">
            <div class="ribbon {{ 'gwa-visible' if entry.favorite else 'gwa-hidden' }}"><span><i class="fas fa-heart"></i></span></div>
            <div class="row no-margin">
                <div class="entry-container-title">
                    {{ entry.reddit_title or entry.title }}
                </div>
            </div>
            <div class="row no-margin">
                <div class="entry-container-rating">
                    {# adapted from https://codepen.io/redlabor/pen/wyiAH which is a fork of https://codepen.io/jamesbarnett/pen/vlpkh #}
                    <div class="rate" data-entry-id={{ entry.id }}>
                        {% set rating = entry.rating * 2 if entry.rating is not none else 0 %}
                        {% for i in range(10, 0, -1) %}
                        <a href="#" class="rate-star fas{{ ' half' if i % 2 == 1 else '' }}{{' star-active' if i <= rating else '' }}" data-value={{ i }} title="{{ (i/2)|string }} stars"></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="entry-container-date">
                    {{ entry.date }}
                </div>
                <div class="entry-container-artist">
                    <a href={{ url_for('main.search_entries', q='sgasm_user:"' + entry.sgasm_user + '"') }} title={{ entry.reddit_user or entry.sgasm_user }}>{{ entry.reddit_user or entry.sgasm_user }}</a>
                </div>
            </div>
        </div>
        <div class="entry-expand" style="display:none;">
            <div class="entry-expand-inner">
                <div class="description">
                    Audio page title: {{ entry.title }}<br/>
                    Local filename: {{ entry.local_filename if entry.local_filename else 'Missing!' }}<br/><br/>
                    {% if entry.description %}
                        <h2>Description:</h2>
                        {% for ln in entry.description.splitlines() %}
                            {{ ln }}<br/>
                        {% endfor %}
                    {% else %}
                        Description: Missing!<br/>
                    {% endif %}
                </div>
                <div class="entry-expand-actions-wrap">
                    <div class="entry-expand-actions">
                        Source:<br/>
                        <div class="entry-expand-icons">
                            {% set r_url = entry.r_post_url if entry.r_post_url and ('reddit' in entry.r_post_url) else entry.reddit_url %}
                            <a href={{ r_url if r_url else '#' }} title="Visit reddit thread!"><i class="fab fa-reddit-square"></i></a>
                            <a href={{ entry.url if entry.url else '#' }} title="Visit audio source page!"><i class="fas fa-globe-americas"></i></a>
                        </div>
                        <br/>
                        Embed:<br/>
                        <div class="entry-expand-icons">
                            <a href="#" class="load-audio-embed" title="Embed audio file!"><i class="fas fa-file-audio"></i></a>
                            <a href="#" class="load-selftxt-embed" title="Embed local selftext file!"><i class="fas fa-file-alt"></i></a>
                        </div>
                    </div>
                    <div class="entry-expand-actions">
                        Artist:<br/>
                        <div class="entry-expand-icons">
                            <a href={{ 'https://reddit.com/user/' + entry.reddit_user if entry.reddit_user else '#' }} class="artist" title="Visit reddit user!"><i class="fab fa-reddit-square"></i></a>
                        </div>
                        <br/>
                        Actions:<br/>
                        <div class="entry-expand-icons">
                            {# set favIntbool to opposite of what it is 0 or 1 with 1-val #}
                            {# need to account  for entry.favorite being None #}
                            <a href="#" class="set-fav-btn" data-fav-intbool={{ 1 - entry.favorite if entry.favorite is not none else 1 }} data-entry-id={{ entry.id }} title="{{ 'Un-f' if entry.favorite else 'F' }}avorite audio!"><i class="fa{{ 'r' if entry.favorite else 's' }} fa-heart pink-fcolor"></i></a>
                            <a href="#" class="remove-entry-btn" data-entry-id={{ entry.id }} title="Remove audio!"><i class="fas fa-trash-alt red-fcolor"></i></a>
                        </div>
                    </div>
                </div> {# entry-expand-actions-wrap #}
                <br/>
            </div> {# entry-expand-inner #}
            <div class="embeds-container row no-margin">
                {# we don't have local_filename for older entries, so check for it's presence #}
                <div class="audio-embed" data-local-src={{ url_for('main.artist_file', artist=entry.sgasm_user, filename=entry.local_filename) if entry.local_filename else '' }} data-online-src={{ entry.url_file }}>
                </div>
                <div class="selftxt-embed" data-local-src={{ url_for('main.artist_file', artist=entry.sgasm_user, filename=entry.local_filename + '.txt') if entry.local_filename else '' }}>
                </div>
            </div>
        </div> {# entry-expand #}
    </div> {# entry-container #}
    {% endfor %}
{% else %}
    {% if display_search_err_msg %}
        <h2>Error in (title) search query!</h2>
        <p class="search-err-msg">
            Only alphanumerical characters and the following special characters are allowed in the
            title search query (uses 
            <a href="https://www.sqlite.org/fts5.html#full_text_query_syntax">SQLite FTS Query Syntax</a>):<br/>
        </p>
        <p class="search-err-msg">
            asterisk(*):<br/>
            Allowed as wild-chard-character, matches zero or more arbitrary characters. Can't
            be the first character!
        </p>
        <p class="search-err-msg">
            plus(+):<br/>
            To concatenate phrases.
        </p>
        <p class="search-err-msg">
            parentheses():<br/>
            To change operator presedence in multi-phrase statements!
        </p>
    {% else %}
        <em>Unbelievable. No entries here so far</em>
    {% endif %}
{% endif %}
    <script>
        // emebd local audio file or online src
		$(document).ready(function() {
			$('.entry-container-title').click(function(event) {
                $(event.currentTarget).parents(".entry-container").find(".entry-expand").toggle();
                event.preventDefault();
            });
			$('.load-audio-embed').click(function(event) {
                let embed_container = $(event.currentTarget).parents(".entry-expand").find(".audio-embed");
                let embed_url = embed_container.data("localSrc");
                $.get(embed_url)
                    .done(function() { 
                        // exists code 
                        embed_container.html("<audio controls src='" + embed_url + "'></audio>");
                    }).fail(function() { 
                        // not exists code
                        embed_container.html("Local file couldn&#39;t be found, online source was embedded instead:<br/><audio controls src='" + embed_container.data("onlineSrc") + "'></audio>");
                    })
                event.preventDefault();
			});
			$('.load-selftxt-embed').click(function(event) {
                let embed_container = $(event.currentTarget).parents(".entry-expand").find(".selftxt-embed");
                let embed_url = embed_container.data("localSrc");
                // load txt from txt file and put it into our embed_container if load was successful
                $.get(embed_url)
                    .done(function(content) { 
                        // exists code 
                        let lines = content.split('\n');
                        embed_container.html('<h2>Selftext:</h2>' + lines.join("<br/>"));
                        // need to split </scr ipt> tag otherwise browser parses it as end of script
                    }).fail(function() { 
                        // not exists code
                        // add HTMLString to end of element
                        embed_container.html("<br/>Error: Local selftext file couldn&#39;t be found!<br/>");
                    })
                event.preventDefault();
			});
			$('.remove-entry-btn').click(function(event) {
                if (!confirm('Are you sure you want to delete this entry?')) {
                    return;
                }
                let entry = $(event.currentTarget).parents(".entry-container");
                let entry_id = $(event.currentTarget).data("entryId");
                event.preventDefault();
                $.ajax({
					data : {"entryId": entry_id},
					type : 'POST',
					url : "{{ url_for('main.remove_entry') }}",
					// let jquery know that flask is returning json data
					// (data in func below)
					dataType: "json"
				})
				.done(function(data) { // when prev function is done
                    let msg_cat = data.removed ? "info" : "warning";
                    let msg = data.removed ? "Entry was successfully removed!" : "Failed to remove entry!";
                    console.log(msg);
                    if(data.removed)
                        entry.remove();
                    // $(".flash-messages").html("<li class='" + msg_cat + "'>" + msg + "</li>");
                });
            });
			$('.set-fav-btn').click(function(event) {
                let ribbon = $(event.currentTarget).parents(".entry-container").find(".ribbon");
                let fav_btn = $(event.currentTarget);
                let fav_icon = fav_btn.find(".fa-heart");
                let entry_id = $(event.currentTarget).data("entryId");
                let fav_intbool = $(event.currentTarget).data("favIntbool");
                if(fav_intbool == 1) {
                    ribbon.removeClass("gwa-hidden");
                    ribbon.addClass("gwa-visible");

                    fav_icon.removeClass("fas");
                    fav_icon.addClass("far");
                    fav_btn.data("favIntbool", 0);
                    fav_btn.title = "Un-favorite audio!";
                } else {
                    ribbon.removeClass("gwa-visible");
                    ribbon.addClass("gwa-hidden");

                    fav_icon.removeClass("far");
                    fav_icon.addClass("fas");
                    fav_btn.data("favIntbool", 1);
                    fav_btn.title = "Favorite audio!";
                }
                event.preventDefault();

                $.ajax({
					data : {
                        "entryId": entry_id,
                        "favIntbool": fav_intbool
                    },
					type : 'POST',
					url : "{{ url_for('main.set_favorite') }}",
					// let jquery know that flask is returning json data
					// (data in func below)
					dataType: "json"
                }).done(function(data) {
                    if (data.error) {
                        console.log(data.error);
                    } else {
                        // set to opposite
                        fav_btn.data("favIntbool", 1 - fav_intbool);
                    }
                });
            });
			$('.rate-star').click(function(event) {
                let rate_container = $(event.currentTarget).parents(".rate");
                let star_elements = rate_container.find(".rate-star");
                let rating2 = $(event.currentTarget).data("value");
                let rating = rating2 / 2.0;
                let entry_id = rate_container.data("entryId");
                event.preventDefault();

                $.ajax({
					data : {
                        "entryId": entry_id,
                        "rating": rating
                    },
					type : 'POST',
					url : "{{ url_for('main.rate_entry') }}",
					// let jquery know that flask is returning json data
					// (data in func below)
					dataType: "json"
				})
				.done(function(data) { // when prev function is done
                    star_elements.each(function() {
                        let this_rating = $(this).data("value");
                        if (this_rating <= rating2) {
                            $(this).addClass("star-active");
                        } else {
                            $(this).removeClass("star-active");
                        }
                    });
                });
            });
		});
    </script>
</div>
</div>
</div>

{% if last %}
{% if search_field %}
	{% if more.next %}
    <a href="{{ url_for('main.search_entries', after=last, q=search_field,
	sort_col=order_col, order=asc_desc) }}"><div class="page-nav" id="page-next">›</div></a>
	{% endif %}
	{% if more.prev %}
    <a href="{{ url_for('main.search_entries', before=first, q=search_field,
	sort_col=order_col, order=asc_desc) }}"><div class="page-nav" id="page-prev">‹</div></a>
	{% endif %}
{% else %}
	{% if more.next %}
    <a href="{{ url_for('main.show_entries', after=last, sort_col=order_col, order=asc_desc) }}"><div class="page-nav" id="page-next">›</div></a>
	{% endif %}
	{% if more.prev %}
    <a href="{{ url_for('main.show_entries', before=first, sort_col=order_col, order=asc_desc) }}"><div class="page-nav" id="page-prev">‹</div></a>
	{% endif %}
{% endif %}
{% endif %}
{% endblock %}
