{% extends "layout.html" %}
{% block body %}
<script type="text/javascript" src="{{ url_for('static', filename='selectize.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='selectize.bootstrap3.css') }}" />
<form id=login_user action="{{ url_for('auth.login') }}" method=post>
    {{ csrf_token_field() }}
    <h3>Login</h3>
    <label>Username: <input type=text class="selectize-input" name=username /></label><br/>
    <label>Password: <input type=password class="selectize-input" name=password /></label>
    <div class=row-no-margin><button type=submit class="button green-color
    button-leftmost">Login</button><span style="margin-left:5px;"><a href="{{ url_for('auth.register') }}">Register</a></span></div>
</form>
{% endblock %}
